In [1]:
import pandas as pd
df = pd.read_csv('./entry/routes.csv')
df

,airline,airline ID,source airport,source airport id,destination apirport,destination airport id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

In [5]:
df.filter(items=["airline" ," source airport", " destination apirport"])

      airline  source airport  destination apirport
0          2B             AER                   KZN
1          2B             ASF                   KZN
2          2B             ASF                   MRV
3          2B             CEK                   KZN
4          2B             CEK                   OVB
...       ...             ...                   ...
67658      ZL             WYA                   ADL
67659      ZM             DME                   FRU
67660      ZM             FRU                   DME
67661      ZM             FRU                   OSS
67662      ZM             OSS                   FRU

[67663 rows x 3 columns]

In [41]:
codes = pd.read_csv('./entry/airport-codes.csv')
codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.94919968, -151.695999146"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"35.6087, -91.254898"

In [42]:
codes = codes.dropna(subset=['iso_country', 'iata_code'])
codes

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N,"11.222, 169.852005"
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA,"25.325399398804, -80.274803161621"
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK,"61.934601, -162.899994"
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"38.851918, -106.928341"
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7,"30.251800537100003, -98.62249755859999"
...,...,...,...,...,...,...,...,...,...,...,...,...
55104,ZYTL,large_airport,Zhoushuizi Airport,107.0,AS,CN,CN-21,Dalian,ZYTL,DLC,NaN,"38.9656982421875, 121.53900146484375"
55105,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,1200.0,AS,CN,CN-22,Tonghua,ZYTN,TNH,NaN,"42.2538888889, 125.703333333"
55106,ZYTX,large_airport,Taoxian Airport,198.0,AS,CN,CN-21,Shenyang,ZYTX,SHE,NaN,"41.639801025390625, 123.48300170898438"
55107,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,624.0,AS,CN,CN-22,Yanji,ZYYJ,YNJ,NaN,"42.8828010559, 129.451004028"
55108,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"40.542524, 122.3586"

In [36]:
filter_codes  = codes[codes.iso_country.isin(cities.iso2)]
filter_codes

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N,"11.222, 169.852005"
10375,ADC,small_airport,Andakombe Airport,3600.0,OC,PG,PG-EHG,Andekombe,AYAN,ADC,ADK,"-7.13722222222, 145.744722222"
10405,AEK,small_airport,Aseki Airport,4106.0,OC,PG,PG-MPL,Aseki,AYAX,AEK,ASE,"-7.35080485552, 146.19386673"
10465,AIE,small_airport,Aiome Airport,350.0,OC,PG,PG-MPM,Aiome,AYAO,AIE,AIO,"-5.145699978, 144.7307003"
10466,AIH,small_airport,Aiambak Airport,90.0,OC,PG,PG-WPD,Aiambak,AYAK,AIH,AMB,"-7.342777777779999, 141.2675"
...,...,...,...,...,...,...,...,...,...,...,...,...
53904,YNMN,small_airport,New Moon Airport,1099.0,OC,AU,AU-QLD,Basalt,YNMN,NMP,YNMN,"-19.2, 145.773"
53994,YPDA,small_airport,Parndana Airport,545.0,OC,AU,AU-SA,Kangaroo Island,YPDA,PDN,YPDA,"-35.807, 137.264"
54196,YSTI,seaplane_base,Stephens Island Seaplane Base,0.0,OC,AU,AU-QLD,Stephens Island,YSTI,STF,YSTI,"-9.51, 143.55"
54204,YSVP,small_airport,Silver Plains Airport,48.0,OC,AU,AU-QLD,Silver Plains,YSVP,SSP,YSVP,"-13.9754, 143.5537"
54816,ZEN,small_airport,Zenag Airport,3200.0,OC,PG,PG-MPL,Zenag,AYZA,ZEN,ZEN,"-6.9522222222200005, 146.61625"